.nav__dropdown-header {
  padding: 7px 13px;
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #717175;
}

.nav__dropdown-separator {
  border-bottom: 1px solid #DCDCE0;
}